.cont {
    display: flex;
    align-items: center;
    width: 38%;
    justify-content: flex-end;
    padding-right: 1rem;
}

.button {
    height: 5vh;
    background-color: rgb(255, 255, 255, 0.2);
    border: none;
    border-radius: 0.3rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.3rem;
    cursor: pointer;
}