.cont {
    width: 100%;
}

.cards_cont {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-columns: 1fr;
    row-gap: 1rem;
    place-content: center;
}